.cardBox {
  background: url("../../images/grunge.png");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  overflow: hidden;
  opacity: 60%;
  cursor: pointer;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 25px;
  text-align: center;
  -moz-box-shadow: 0 0 5px 5px #888;
  -webkit-box-shadow: 0 0 5px 5px#888;
  box-shadow: 0 0 5px 5px #888;
  color: white;
  text-decoration: none;
}

.cardBox:hover {
  text-decoration: none !important;
  -moz-box-shadow: 0 0 9px 9px #888;
  -webkit-box-shadow: 0 0 9px 9px#888;
  box-shadow: 0 0 9px 9px #888;
}

.boxIcon {
  font-size: 70px;
  text-align: center;
}

.boxIcon:hover {
  color: #57b9f1;
  font-size: 75px;
}

.boxHeader {
  font-size: 40px;
  text-align: center;
}

.cardBtn {
  background: transparent;
  border: none;
  color: white;
}

.cardBtn:hover {
  color: #57b9f1 !important;
  font-weight: bold !important;
  text-decoration: underline !important;
}
